<IfModule mod_rewrite.c>
    # Tambahkan izin dasar
    Order Allow,Deny
    Allow from all
    Require all granted

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Pastikan RewriteEngine aktif
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Tambahkan diluar IfModule untuk memastikan akses
<Directory /var/www/html>
    Options -Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>
